<template>
	<div class="jumbotron">
		<form @submit.prevent="submitForm">
			<div>
				<label for="nama">Nama</label>
				<input type="text" v-model="pembimbing.nama_lengkap" class="form-control"  required>
			</div>
			<div>
				<label>Tanggal Lahir</label>
				<input type="date" v-model="pembimbing.tgl_lahir" class="form-control"  required>
			</div>
			<div>
				<label>Alamat</label>
				<textarea v-model="pembimbing.alamat" class="form-control" rows="5" required></textarea>
			</div>
			<div>
				<label for="nama">Nomer Telepon</label>
				<input type="number" v-model="pembimbing.no_telp" class="form-control"  required>
			</div>
			<div>
				<label>Jenis Kelamin</label>
				<select v-model="pembimbing.jenis_kelamin" class="form-control"  required>
					<option value="">Pilih Jenis Kelamin</option>
					<option value="L">Laki - Laki</option>
					<option value="P">Perempuan</option>
				</select>
			</div>
			<div>
				<label>Mata Pelajaran</label>
				<select v-model="pembimbing.mata_pelajaran" class="form-control"  required>
					<option value="">Pilih Mata Pelajaran</option>
					<option value="Bahasa Arab">Bahasa Arab</option>
					<option value="Fiqih">Fiqih</option>
					<option value="Tajwid">Tajwid</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</template>

<script>
	import { api } from '@/helper/api'

	export default{
		name: 'pembimbingForm',
		data(){
			return{
				pembimbing: {
					id: null,
					nama_lengkap: '',
					tgl_lahir: '',
					alamat: '',
					no_telp: '',
					jenis_kelamin: '',
					mata_pelajaran: ''
				}
			}
		},
		mounted(){
			let id = this.$route.params.id
			if (id) {
				api.get('/pembimbing/' + id).then(res => {
					this.pembimbing = res.data.result
				})
			}
		},
		methods: {
			submitForm(){
				let data = this.pembimbing
				let url = 'pembimbing'

				if (this.pembimbing.id) {
					url += '/' + this.pembimbing.id
				}

				api.post(url, data).then(res => {
					if (res.data.status === 'success') {
						this.$router.push('/pembimbing')
					}else{
						console.log(res.data.message)
					}
				}).catch(err => {
					console.log(err)
				})
			}
		}
	}
</script>