<template>
	<div class="jumbotron" style="background-color: white;">
			<router-link to="/santri/create" class="btn btn-info">Tambah Data Santri</router-link>
		<div class="table-responsive">
			<table align="center" class="table table-default">
			<tr class="bg-success text-light">
				<th>No</th>
				<th>Nama</th>
				<th>Tanggal Lahir</th>
				<th>JK</th>
				<th>Alamat</th>
				<th>Action</th>
			</tr>
			<tr v-for="(santri, i) in data_santri" :key="i" class="">
				<td><b>{{ i+1 }}</b></td>
				<td>{{ santri.nama_lengkap }}</td>
				<td>{{ santri.tgl_lahir }}</td>
				<td>{{ santri.jenis_kelamin }}</td>
				<td>{{ santri.alamat }}</td>
				<td>
					<router-link :to="'/santri/' + santri.id" class
					="btn btn-warning">Edit</router-link>
					<button @click="deleteRow(santri.id)" class
					="btn btn-danger">Delete</button>
				</td>
			</tr>
		</table>
		</div>
	</div>
</template>

<script>
	import { api } from '@/helper/api'

	export default{
		name: 'santri',
		data () {
			return{
				data_santri: [
				]
			}
		},
		mounted () {
			this.get()
		},
		methods: {
			get () {
				api.get('santri').then(res => {
					if (res.data.status === 'success') {
						this.data_santri = res.data.result
					}else{
						console.log(res.data.message)
					}
				}).catch(err => {
					console.log(err)
				})
			},
			deleteRow(id){
				api.delete('santri/' + id).then(res => {
					if (res.data.status === 'success') {
						this.get()
					}else{
						console.log(res.data.message)
					}
				}).catch(err => {
					console.log(err)
				})	
			}
		}
	}
</script>