<template>
  <div id="app">
    <div class="container-fluid">
      <div class="jumbotron" style="background-color: rgba(12,12,12,0.2);">
        <h4 class="text-light text-center">Sistem Informasi Madrasah</h4>
        <center>
          <img src="./assets/mosque.png" class="rounded-circle col-sm-2"alt="Mesjid">
        </center>
            <div class="">
              <router-link to="/santri/" class="btn btn-success col-sm-6">
                <img src="./assets/santri.png" class="rounded-circle col-sm-2"alt="Santri">Data Santri
              </router-link>
              <router-link to="/pembimbing/" class="btn btn-primary col-sm-6">
                <img src="./assets/pembimbing.png" class="rounded-circle col-sm-2"alt="Santri">Data Pembimbing
              </router-link>
            </div>

          <router-view/>
          
        <div class="panel-footer text-right">
          <hr>
          <div class="alert bg-dark text-light">
            <h6 class="text-center">Created By Mochamad Lindung Hasti Budi Aldany&copy;</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app',
  components: {
    HelloWorld
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
